/**
 * Praktikum DBWT. Autoren:
 * Fabian, Kirchhoff, 3191755
 * Glenn, Verhaag, 3173673
 */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/**Allgemein--------------------------------------------------------*/
hr {
    height: 3px;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
}

main {
    margin: auto;
    width: 73%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;

}

section {
    padding-top: 35px;
}

/*--Header--------------------------------------------------------*/


header {
    overflow: hidden;
    background-color: #E7DBD1;
    border-radius: 50px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.logo{
    float:left;
}

.nav li{
    float:right;
    display: inline-block;
}
.nav{
    padding-top: 40px;
    padding-right:40px;
}

.nav a{
    display: inline-block;
    color: #110903;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-radius: 40px;
}

.nav li:first-child{
    font-weight: bold;
}
.nav a:hover{
    background-color: #F1E9E4;
    color: #110903;
}

/*--Slidehow-----------------------------------------------------*/
.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

/*--Images--------------------------------------------------------*/

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box > span {
    font-size: 3.2vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    margin-top: 10px;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover > img {
    width: 100%;
    height: calc(100% - 10vh);
}

/*W3 Slideshow ***********************************************************/
.w3-display-left {
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.w3-display-right {
    position: absolute;
    top: 90%;
    right: 10%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.container {
    display: none;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-disabled *, :disabled * {
    pointer-events: none
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/**Tabelle--------------------------------------------------------*/
#gerichtTabelle {
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    /**Dünne ränder*/
    width: 100%;
}
#gerichtTabelle tr:nth-child(n + 12) {
    visibility:  unset;
}
#gerichtTabelle:hover tr:nth-child(n + 12){
    visibility: inherit;
}
/**alle Spalten*/
#gerichtTabelle td, #gerichtTabelle th {
    border: 1px solid #ddd;
    padding: 8px;
}

/**nth-child() gibt jeder zweiten Spalte eine graue Farbe*/
#gerichtTabelle tr:nth-child(even) {
    background-color: #f2f2f2;
}

#gerichtTabelle tr:hover {
    background-color: #ddd;
}

/**Zeilen der ersten Spalte */
#gerichtTabelle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

/**Erste Zeile der Tabelle*/
#zeile1 {
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
}
/*--Wunschgericht--------------------------------------------------------------------------------------*/
#wunschgericht{
    margin-top: -40px;
    font-size: 15px;
}
#wunschgerichtLink{
    text-decoration: none;
    color: black;

}

#wunschgerichtLink:hover {
    color: steelblue;
}
/**zahlen--------------------------------------------------------*/
#zahlen div {
    display: inline-flex;
    border: transparent;
    padding: 5px;
    margin-left: -10px;
    text-align: center;
}

#zahlen p {
    padding: 10px;
    margin-top: -5px;
}

#zahlen p:nth-child(1) {
    color: white;
    border: 2px solid;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
    border-radius: 12px;
}

/**Newsletter--------------------------------------------------------*/
fieldset {
    border: transparent;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

fieldset label, select {
    font-size: medium;
    color: grey;
}


/*Styling der ICONS*/
#kontakt .icon {
    padding: 10px;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
    color: white;
    min-width: 50px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

/*Icons*/
.fa-envelope, .fa-language, .fa-lock {
    margin-left: 20px;
}

.fa-user {
    margin-left: -20px;
}


/*Styling des icons des Datenschutzes*/
#lock {
    margin-top: 3px;
    min-width: 20px;
    max-height: 20px;
    border-radius: 12px;
    /*Abgerundete Ecken*/;
}

/*Styling des checkbox des Datenschutzes*/
#Datenschutz {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 12px;
}

/*Styling des Newsletter Submit buttons*/
#kontakt input[type=submit] {
    margin-left: 20px;
    color: black;
    background-color: white;
    border-color: rgb(179, 89, 0);
    border-radius: 12px;
}

/*Button submit nur anzeigen wenn Datenschutz checked*/
#Datenschutz:checked ~ #submit {
    visibility: visible;
}

/*Button submit nicht anzeigen*/
#submit {
    visibility: hidden;
}

/*Text unter letzter Section
section + p {
    text-align: center;
    font-size: larger;
}*/

/*Newsletter formatieren*/
#name, #email, #sprache {
    border: 1px solid grey;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

/*Hover effect*/
#name:hover, #email:hover, #sprache:hover {
    border: 3px solid black;
}


/**Wichtig--------------------------------------------------------*/
#wichtig {
    margin-bottom: 50px;
}

#wichtig ul li {
    padding: 5px;
    list-style-type: none;
    /*Keine Punkte*/;
}

/*Überschriften*/
h1, h2, h3, h4, h5, h6{
    font-size: larger;
}

/*Pfeile vor Liste*/
.fa-angle-right {
    margin-right: 10px;
}

/**footer--------------------------------------------------------*/
footer li {
    font-size: medium;
    padding: 10px;
    display: inline;
}

/*Kante bei jedem element einfügen außer beim ersten*/
footer ul li + li {
    border-left: 2px solid grey;
}

footer ul {
    text-align: center;
}

/*Text unter Liste zentrieren*/
#wichtig + p {
    text-align: center;
}


/**Allergene--------------------------------------------------------*/
.AllergenListe {
    columns: 4 12em; /*In 4 Reihen anzeigen*/
    font-size: small;
    padding: 10px;
    line-height: 0.5em;
}

/*Keine "Listenpunkte" */
#Allergene ul li {
    list-style-type: none;
}

/*Button position erhöhen*/
#Allergene {
    margin-top: -25px;
}

/*Design vom icon*/
#Allergene .icon {
    padding: 5px;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
    color: white;
    min-width: 45px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

/*Design Button*/
#AllergenButton {
    margin-top: 10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 12px;
}

/*Wenn checkbox = checked -> zeige Liste der Allergene*/
#AllergenButton:checked ~ #AllergenListe {
    display: block;
}

/*Zeige Liste der Allergen nicht*/
#AllergenListe {
    display: none;
}

