/**
 * Praktikum DBWT. Autoren:
 * Fabian, Kirchhoff, 3191755
 * Glenn, Verhaag, 3173673
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


/**Allgemein--------------------------------------------------------*/
hr {
    height: 3px;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
}

main {
    margin: auto;
    width: 75%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    main {
        margin: auto;
        width: 90%;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
    }
}

section {
    padding-top: 35px;
}

/*--Header--------------------------------------------------------*/


header {

    overflow: hidden;
    background-color: #E7DBD1;
    border-radius: 50px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.logo {
    float: left;
    width: 15%;
    height: auto;
    margin-top: 12px;

}
    

.topnav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    position: relative;
    overflow:visible;

}

.topnav a {
    margin-top: 4%;
    float: bottom;
    display: inline-block;
    color: #110903;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #F1E9E4;
    color: black;
}

.topnav a.active {
    background-color: #F1E9E4;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:last-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*.logo{
    float:left;
    width: 15%;
    height: auto;
}

.nav li{
    float:right;
    display: inline-block;
}
.nav{
    padding-top: 35px;
    padding-right:40px;
}

.nav a{
    display: inline-block;
    color: #110903;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    border-radius: 40px;
}

.nav li:first-child{
    font-weight: bold;
}
.nav a:hover{
    background-color: #F1E9E4;
    color: #110903;
}*/

/*--Slidehow-----------------------------------------------------*/
.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 20%;
}

/*--Images--------------------------------------------------------*/

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box > span {
    font-size: 3.2vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .box > span {
        font-size: 2vh;
        line-height: 1.5;
    }
}

.box:hover {
    flex: 1 1 20%;
}

.box:hover > img {
    width: 100%;
    height: calc(100% - 10vh);
}

/*W3 Slideshow ***********************************************************/


@media screen and (min-width: 600px) {


    .container {
        display: none;
    }

    .w3-disabled *, :disabled * {
        pointer-events: none
    }

}
/**Tabelle--------------------------------------------------------*/
#gerichtTabelle {
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    /**Dünne ränder*/
    width: 100%;
}

#gerichtTabelle tr:nth-child(n + 12) {
    visibility: unset;
}

#gerichtTabelle:hover tr:nth-child(n + 12) {
    visibility: inherit;
}

/**alle Spalten*/
#gerichtTabelle td, #gerichtTabelle th {
    border: 1px solid #ddd;
    padding: 8px;
}

/**nth-child() gibt jeder zweiten Spalte eine graue Farbe*/
#gerichtTabelle tr:nth-child(even) {
    background-color: #f2f2f2;
}

#gerichtTabelle tr:hover {
    background-color: #ddd;
}

/**Zeilen der ersten Spalte */
#gerichtTabelle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#allergenCode {
    float: right;
    font-size: small;
    float: bottom;
}

@media screen and (max-width: 600px) {
    #allergenCode {
        font-size: x-small;
    }
}

/**Erste Zeile der Tabelle*/
#zeile1 {
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
}

/*--Bewertung--------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {

    #Gerichtebewertung input[type=submit] {
        margin-bottom: 10;
        margin-right: 20px;
        color: black;
        background-color: white;
        border-color: grey;
        border-radius: 12px;
    }
    #gerichtbewerten{
        margin-bottom: 5px;
    }
    .fa-star-half-alt{
     width: 90%;
    }
    #Gerichtebewertung #formular{
        width: 100%;
        margin-left: 25px;
    }
}

#Gerichtebewertung fieldset{
    margin-left: -35px;
}
#gerichtbewerten{
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    #Gerichtebewertung fieldset {
        margin-left: -35px;
    }
    #gerichtbewerten{
        margin-right: 10px;
    }

}



/*--Wunschgericht--------------------------------------------------------------------------------------*/

#wunschgerichtLink {
    text-decoration: none;
    color: black;

}

#wunschgerichtLink:hover {
    color: steelblue;
}

/**zahlen--------------------------------------------------------*/
#zahlen div {
    display: inline-flex;
    border: transparent;
    padding: 5px;
    margin-left: -10px;
    text-align: center;
}

#zahlen p {
    padding: 10px;
    margin-top: -5px;
}

#zahlen p:nth-child(1) {
    color: white;
    border: 2px solid;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
    border-radius: 12px;
}

/**Newsletter--------------------------------------------------------*/
fieldset {
    border: transparent;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

#formular {
    display: inline-flex
}

@media screen and (max-width: 600px) {
    #formular {
        display: grid;
        width: 100%;
        margin-bottom: 15px;
    }

    #kontakt .icon, #Gerichtebewertung .icon {
        border-radius: 12px;
        margin-bottom: 5px;
    }

    #name, #email, #sprache, #gerichtbewerten{
        border-radius: 12px;
        margin-right: 20px;
    }

    /*Icons*/
    .fa-envelope, .fa-language, .fa-lock, .fa-user {
        margin-left: -20px;
    }

}

fieldset label, select {
    font-size: medium;
    color: grey;
}


/*Styling der ICONS*/
#kontakt .icon, #Gerichtebewertung .icon  {
    padding: 10px;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
    color: white;
    min-width: 50px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

@media screen and (min-width: 600px) {
    /*Icons*/
    .fa-envelope, .fa-language, .fa-lock, .fa-star-half-alt{
        margin-left: 20px;
    }

    .fa-user {
        margin-left: -20px;
    }
}

/*Styling des icons des Datenschutzes*/
#lock {
    margin-top: 3px;
    min-width: 20px;
    max-height: 20px;
    border-radius: 12px;
    /*Abgerundete Ecken*/;
}

/*Styling des checkbox des Datenschutzes*/
.Datenschutz {
    margin-top: 10px;
    align-content: center;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 12px;
}

/*Styling des Newsletter Submit buttons*/

#kontakt input[type=submit] {
    margin-bottom: 10;
    margin-right: 20px;
    color: black;
    background-color: white;
    border-color: grey;
    border-radius: 12px;
}
#Gerichtebewertung input[type=submit] {
    margin-bottom: 10;
    margin-right: 20px;
    color: black;
    background-color: white;
    border-color: grey;
    border-radius: 12px;
}

/*Text unter letzter Section
section + p {
    text-align: center;
    font-size: larger;
}*/

/*Newsletter formatieren*/
#name, #email, #sprache,#gerichtbewerten {
    border: 1px solid grey;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}


/*Hover effect*/
#name:hover, #email:hover, #sprache:hover, #gerichtbewerten:hover {
    border: 3px solid black;
}

#fehler {
    margin-top: -20px;
    margin-bottom: -20px;
}


/**Wichtig--------------------------------------------------------*/
#wichtig {
    margin-bottom: 50px;
}

#wichtig ul li {
    padding: 5px;
    list-style-type: none;
    /*Keine Punkte*/;
}

/*Überschriften*/
h1, h2, h3, h4, h5, h6 , h7 {
    font-size: larger;
        font-weight: bold;

}

/*Pfeile vor Liste*/
.fa-angle-right {
    margin-right: 10px;
}

/**footer--------------------------------------------------------*/
footer li {
    font-family: 'Ubuntu', sans-serif;
    font-size: x-small;
    padding: 10px;
    display: inline;
}

@media screen and (max-width: 600px) {
    footer li {

        margin-left: -15px;

    }

}

@media screen and (min-width: 600px) {
    /*Kante bei jedem element einfügen außer beim ersten*/
    footer ul li + li {
        border-left: 1px solid grey;

    }
}

footer ul {
    text-align: center;
}

/*Text unter Liste zentrieren*/
#wichtig + p {
    text-align: center;
}


/**Allergene--------------------------------------------------------*/
.AllergenListe {
    columns: 4 12em; /*In 4 Reihen anzeigen*/
    font-size: 10px;
    padding: 10px;
    line-height: 0.5em;
}

/*Keine "Listenpunkte" */
#Allergene ul li {
    list-style-type: none;
}

/*Button position erhöhen*/
#Allergene {
    margin-top: -25px;
}

/*Design vom icon*/
#Allergene .icon {
    padding: 5px;
    background-image: linear-gradient(to right, rgb(179, 89, 0), rgb(38, 38, 38));
    color: white;
    min-width: 45px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

/*Design Button*/
#AllergenButton {
    margin-top: 10px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 12px;
}

/*Wenn checkbox = checked -> zeige Liste der Allergene*/
#AllergenButton:checked ~ #AllergenListe {
    display: block;
}

/*Zeige Liste der Allergen nicht*/
#AllergenListe {
    display: none;
}


/*User Drop-Down*/
/* Style The Dropdown Button */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    position: absolute;
    right: 2%;
    top: 40%;
    background-color: #E7DBD1;
    font-size: 100%;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup {
    border-radius:20px ;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    bottom: 10px;
    border: 3px solid #E7DBD1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    border-radius:20px ;
    max-width: 300px;
    padding: 5px;
    background-color: white;
}


/* Set a style for the submit/login button */
.form-container .btn {
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #E7DBD1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

